body {
    font-family: Arial, sans-serif;
    background-color: lightsteelblue;
    text-align: center;
    line-height: 2rem;
  }
  ul {
   border: 4px solid lightgrey;
   margin: 50px 550px
    }
  h1 {
    text-align: center;
  }
  
  h2 {
    color: navy;
    text-align: center;
  }
  
  table {
    border: 4px solid lightgrey;
    width: 750px;
    margin: 0 auto;
  }
  
  thead {
    background-color: sandybrown;
  }
  
  td {
    border: 2px solid lightseagreen;
  }
  
  .code {
    font-family: monospace;
    background-color: azure;
  }
  
  